<div class="categories">
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Trauki-795x1024.webp" class="category-image" width="795" height="1024" loading="lazy">
            <p class="category-title">
                trauki
            </p>
        </a>
    </div>
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Glāzes-795x1024.webp" class="category-image" width="795" height="1024" loading="lazy">
            <p class="category-title">
                glāzes
            </p>
        </a>
    </div>
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Servēšanas-795x1024.webp" class="category-image" width="795" height="1024" loading="lazy">
            <p class="category-title">
                servēšanas inventārs
            </p>
        </a>
    </div>
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Dekori-795x1024.webp" class="category-image" width="795" height="1024" loading="lazy">
            <p class="category-title">
                dekori
            </p>
        </a>
    </div>

</div>