<div class="categories">
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Black-Dusk-795x1024.jpg" class="category-image" width="795" height="1024" alt="" loading="lazy">
            <p class="category-title">
                black dusk
            </p>
        </a>
    </div>
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Dots-795x1024.jpg" class="category-image" width="795" height="1024" alt="" loading="lazy">
            <p class="category-title">
                dots
            </p>
        </a>
    </div>
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Perla-795x1024.jpg" class="category-image" width="795" height="1024" alt="" loading="lazy">
            <p class="category-title">
                perla
            </p>
        </a>
    </div>
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Symphony-795x1024.jpg" class="category-image" width="795" height="1024" alt="" loading="lazy">
            <p class="category-title">
                syrah
            </p>
        </a>
    </div>
    <div class="category-item-wrapper">
        <a href="#" class="category-item">
            <img src="images\Syrah-795x1024.jpg" class="category-image" width="795" height="1024" alt="" loading="lazy">
            <p class="category-title">
                symphony
            </p>
        </a>
    </div>

</div>