<div class="dishes">
    <a href="#" class="dishes-item">
        <img src="images\X305470.jpg" class="dish-image" width="324" height="324">
        <p class="dish-name">
            šķīvis utopia Ø24cm
        </p>
        <span class="dish-price"><span class="price-amount">€ 0.60 </span>(ar PVN)</span>
    </a>
    <a href="#" class="dishes-item">
        <img src="images\Sanitex-day1-X410606-324x324.jpg" class="dish-image" width="324" height="324">
        <p class="dish-name">
            šķīvis utopia Ø24cm
        </p>
        <span class="dish-price"><span class="price-amount">€ 0.60 </span>(ar PVN)</span>
    </a>
    <a href="#" class="dishes-item">
        <img src="images\X412478-324x324.jpg" class="dish-image" width="324" height="324">
        <p class="dish-name">
            šķīvis utopia Ø24cm
        </p>
        <span class="dish-price"><span class="price-amount">€ 0.60 </span>(ar PVN)</span>
    </a>
    <a href="#" class="dishes-item">
        <img src="images\Sanitex-day1-X410606-324x324.jpg" class="dish-image" width="324" height="324">
        <p class="dish-name">
            šķīvis utopia Ø24cm
        </p>
        <span class="dish-price"><span class="price-amount">€ 0.60 </span>(ar PVN)</span>
    </a>
    <a href="#" class="dishes-item">
        <img src="images\X412478-324x324.jpg" class="dish-image" width="324" height="324">
        <p class="dish-name">
            šķīvis utopia Ø24cm
        </p>
        <span class="dish-price"><span class="price-amount">€ 0.60 </span>(ar PVN)</span>
    </a>
    <a href="#" class="dishes-item">
        <img src="images\X412478-324x324.jpg" class="dish-image" width="324" height="324">
        <p class="dish-name">
            šķīvis utopia Ø24cm
        </p>
        <span class="dish-price"><span class="price-amount">€ 0.60 </span>(ar PVN)</span>
    </a>
</div>