<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/images/g2.webp" width="768" height="1152" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="/images/g3.webp" width="768" height="512" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="/images/g3.webp" width="768" height="512" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="/images/g3.webp" width="768" height="512" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="/images/g3.webp" width="768" height="512" alt="" loading="lazy"></div>
        <div class="swiper-slide"><img src="/images/g3.webp" width="768" height="512" alt="" loading="lazy"></div>
    </div>
    <div class="swiper-button-wrap">
        <div class="swiper-button-prev">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="none">
                <rect width="50" height="50" fill="none" fill-opacity="1" />
                <path d="M28.0703 18L20.9995 25.0708L28.0703 32.1417" stroke="black" stroke-width="2" />
            </svg>
        </div>
        <div class="swiper-button-next">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" fill="none">
                <rect x="50" y="50" width="50" height="50" transform="rotate(-180 50 50)" fill="none"
                    fill-opacity="1" />
                <path d="M21.9297 32L29.0005 24.9292L21.9297 17.8583" stroke="black" stroke-width="2" />
            </svg>
        </div>
    </div>
</div>