.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/banner.webp);
    background-size: cover;
    aspect-ratio: 1440 / 490;
    background-repeat: no-repeat;
    color: $color-white;
    display: none;
    align-items: center;
    margin: 0 -11rem;
    padding: 1.6875rem 11rem 0;

    @media(min-width:29.25rem) {
        display: flex;
    }

    h1 {
        font-size: 4.7rem;
        line-height: 1.05;
        letter-spacing: -0.1875rem;
        font-weight: 700;
    }
}