.header {
    position: sticky;
    top: 0;
    background: $color-white;
    z-index: 999;
    box-shadow: 0 0 1.625rem 0 $color-box-shadow;

    &.blur-background {
        &::before {
            position: fixed;
            z-index: 10;
            content: "";
            width: 100%;
            height: 100%;
            background: #00000080;
            backdrop-filter: blur(0.3125rem);
        }
    }

    .header-top {
        display: flex;
        justify-content: space-between;
        padding: 0.625rem 0 0.625rem;

        @media(min-width:75rem) {
            padding: 0.5625rem 0 0.25rem;
        }

        .logo svg {
            width: 5.25rem;

            @media(min-width:75rem) {
                width: 10.8125rem;
            }
        }

        .navigation-panel {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.25rem;
            padding: 0 1rem;

            @media(min-width:75rem) {
                gap: 2.375rem;
            }

            svg {
                max-width: 1.5rem;
                aspect-ratio: 1/1;
            }

            .search-menu-button {
                border: 0;
                background: none;
                cursor: pointer;

                @media(min-width: 65rem) {
                    display: none;
                }
            }

            .search-bar {
                display: none;
                position: absolute;
                box-shadow: 0 0 0.8125rem 0 $color-box-shadow;
                border-radius: 0.4375rem;
                top: 100%;
                min-width: 17.5rem;
                background-color: $color-white;

                @media(min-width:75rem) {
                    justify-content: center;
                }

                @media(min-width:65rem) {
                    display: flex;
                    position: static;
                }

                &.open-search-menu {
                    display: flex;
                }

                .search-submit {
                    background: none;
                    border: 0;
                    cursor: pointer;
                    padding-left: 1rem;

                    svg {
                        width: 1rem;
                    }
                }

                .search-input {
                    display: flex;
                    border: 0;
                    padding-left: 0.25rem;
                    max-width: 28.75rem;
                    height: 2.8125rem;

                    @media (min-width:65rem) {
                        width: 25.25rem;
                    }

                    &::placeholder {
                        opacity: 0.5;
                        font-size: 0.8125rem;
                        letter-spacing: 0.10625rem;
                        color: #616161;

                    }
                }
            }

        }

        .language-switcher {
            display: none;
            text-transform: uppercase;
            cursor: pointer;

            @media(min-width:75rem) {
                display: flex;
                gap: 0.8125rem;
            }
        }

    }

    .burger-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        width: 1.5rem;
        margin-right: 0.375rem;

        @media(min-width:75rem) {
            display: none;
        }
    }

    .header-bottom {
        position: fixed;
        width: 18.4375rem;
        height: 100dvh;
        z-index: 10;
        background: $color-white;
        top: 0;
        right: -100%;
        transition: 0.5s right;

        @media(min-width:75rem) {
            display: flex;
            position: static;
            border-top: 0.0625rem solid $color-light-gray;
            border-bottom: 0.0625rem solid $color-light-gray;
            margin: 0 -3.1875rem;
            height: auto;
            width: 100%;
        }

        &.open-nav-menu {
            right: 0;
        }

        .nav-list-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;

            @media(min-width:75rem) {
                flex-direction: row;
                height: 100%;
                align-items: center;
                justify-content: space-between;
            }

            .mobile-nav {
                padding: 0.5rem 1.5rem 0.25rem 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media(min-width:75rem) {
                    display: none;
                }

                .language-switcher {
                    cursor: pointer;
                    display: flex;
                    gap: 0.625rem;
                }

                svg {
                    max-width: 1.25rem;
                    aspect-ratio: 1/1;
                }

                .burger-button svg {
                    max-width: 0.75rem;
                }
            }

            .nav-list {
                display: flex;
                flex-direction: column;
                text-transform: uppercase;
                padding: 0 1.5rem 1rem;

                @media(min-width:75rem) {
                    font-size: 0.9375rem;
                    padding: 0 3.1875rem;
                    align-items: center;
                    text-align: center;
                    margin: 0;
                }

                .nav-list-name {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    padding-bottom: 1rem;
                    border-bottom: 0.0625rem solid #1c1e1833;

                    @media(min-width: 75rem) {
                        padding: 0.8125rem 0;
                        border-bottom: 0.3875rem solid transparent;
                        transition: border-color 0.3s;

                        &:hover {
                            border-color: darkblue;
                        }
                    }

                    .nav-button {
                        display: none;
                        background: none;
                        border: none;
                        max-width: 0.75rem;
                        aspect-ratio: 1/1;
                        padding: 0;
                        margin: 0;
                        cursor: pointer;

                        &.nav-button-rotated {
                            transform: rotate(180deg);
                        }

                        @media(min-width: 75rem) {
                            display: none;
                        }
                    }
                }

                .nav-list-item {
                    display: none;

                    @media(min-width: 75rem) {
                        gap: 11.375rem;
                        position: absolute;
                        text-align: start;
                        top: 100%;
                        left: 0;
                        width: 100%;
                        background: $color-white;
                        padding: 2.8125rem 2.25rem;
                        border-bottom-right-radius: 5.625rem;
                        box-shadow: 0 0.0625rem 0.25rem 0 $color-box-shadow;
                    }

                    &.open-list {
                        display: flex;
                        flex-direction: column;
                        gap: 1.375rem;
                        padding: 1.375rem 0.5rem;
                        margin-bottom: 0.5625rem;

                        @media (min-width:75rem) {
                            display: none;
                        }
                    }

                    .nav-list-item-submenu {
                        display: none;

                        @media(min-width: 75rem) {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }

                @media(min-width:75rem) {
                    &:hover .nav-list-item {
                        display: flex;
                    }
                }
            }
        }
    }
}