.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.75rem 0 4.5rem;

    @media(min-width:62rem) {
        padding: 3rem 0;
    }

    h2 {
        font-size: 1.875rem;
        padding-bottom: 1rem;

        @media(min-width: 62rem) {
            font-size: 2.6rem;
        }
    }

    .login {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3.5rem 1rem 2rem;
        gap: 1.75rem;
        box-shadow: 0 0 0.25rem 0 $color-box-shadow;
        border-radius: 0.4375rem;
        width: 100%;

        @media(min-width:62rem) {
            width: 29.25rem;
            padding: 3.5rem 4.75rem;
        }

        input {
            height: 2rem;
            font-size: 1rem;
            padding: 0 1rem;
            width: 100%;
            border: 0.0625rem solid #97979733;

            @media(min-width:62rem) {
                height: 2.25rem;

            }

            // &::placeholder {
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     transition: all 0.3s ease;
            // }

            &:focus {
                color: red;
            }
        }

        .login-btn {
            font-size: 1rem;
            color: $color-white;
            padding: 0.75rem 1.5rem;
            border-radius: 0.4375rem;
            background: #2c575a;
            text-transform: uppercase;
            width: 100%;
        }

        .lost-password {
            color: #264c4f;
            border-bottom: 0.0625rem solid #264c4f;
            font-size: 0.875rem;
            margin-top: -0.5rem;
        }

        p {
            margin-top: -0.25rem;
            font-size: 0.875rem;
        }
    }
}